body{
  background:linear-gradient(blue,red);
}
.wrap{
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.wrap button{
  background-color: gold;
  color: black;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}
.acc{
  width: 500px;
}
.item{
  background-color: gold;
  margin-bottom: 10px;
  padding: 10px 20px;
}
.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.content{
  width: auto;
}

